.productsHeading{
    margin: 2vmax auto;
    width: 15vw;
    border-bottom: 1px solid rgba(0,0,0,.171);
    padding: 2vmax;
    color: rgba(0,0,0,.671);
    font: 500 1.5vmax "Roboto";
    text-align: center;
}

.products-container{
    display: flex;
    border:2px solid black;
    flex-wrap: wrap;
    padding: 0 5vmax;
    justify-content: center;
}